<div class="row ">
<h1 class="text-center mt-3 mb-3">Update Quote</h1>
<div class="d-flex justify-content-center">
<%= form_with model:@quote do |form| %>
    <div class="mb-3">
        <%=form.label :content , class:'form-label'%>
        <%=form.text_area :content, class:'form-control', placeholder:'Enter Quote Here'%>
    </div>
    <div class="mb-3">
        <%=form.label :image, class:'form-label'%>
        <%=form.text_field :image,class:'form-control',placeholder:'Image Url'%>
    </div>
    <div>
    <%=form.submit 'Add Quote' ,class: "btn btn-primary mt-2"%>
    </div>
<%end%>
    </div>
</div>