<div class="container">
<div class="col-lg-6 ms-auto me-auto">
<h1 class="mt-3 mb-3">Add New Quote</h1>
<%= form_with model:@quote do |form| %>
    <div class="mb-3">
        <%=form.label :content , class:'form-label'%>
        <%=form.text_area :content, class:'form-control', placeholder:'Enter Quote Here'%>
    </div>
    <div class="mb-3">
        <%=form.label :image, class:'form-label'%>
        <%=form.text_field :image,class:'form-control',placeholder:'Image Url'%>
    </div>
    <div>
    <%=form.submit 'Add Quote' ,class: "btn btn-primary mt-2"%>
    </div>
<%end%>
    </div>
</div>